.topcontainer{
    height:250px;
    width:100%;
    background-color:rgba(239, 247, 248, 0.945);
    overflow:hidden;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
}
.title{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
}
img{
    margin-left:80px;
    /* width:360px;
    max-height: 200px; */
    object-fit: cover;
}
button{
    background-color:blue;
    justify-content:flex-start;
}
@media screen and (min-width: 1200px) and (max-width: 1380px) {
    img{
       
        /* position:fixed;
        bottom:2.3rem; */
        /* bottom:590px; */
        width:30%;
    }
    .title{
        margin-left:0px;
        position:fixed;
        right:5rem;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
    img{
        width:30%;
        position:fixed;
        bottom:2.3rem;
        right:70%;
    }
    .title{
        margin-left:0px;
        position:fixed;
        right:10%;
    }
}